* {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: 1;
}

body {
	background-color: #F5F6F8;
	overflow: hidden;
}

/* MENU LATERAL */

.sidebar {
    position: absolute;
    z-index: 300;
	display: inline-block;
	min-height: 100vh;
	width: 80px;
	background-color: #313443;
}

ul {
    text-align: center;
    color: white;
}		

li {
    padding: 28px 0;
    cursor: pointer;
    transition: all ease-out 120ms;
}
			
.menu-i {
    display: block;
    font-size: 24px;
    transition: all ease 450ms;
}
			
.tooltip {
    display: inline-block;
    position: absolute;
    background-color: #313443;
    padding: 8px 5px;
    margin-top: 20px;
    left: 5px;
    font-size: 13px;
}

.menu-option > a {
    text-decoration: none;
    color: white;
}

/* DIV FLOTANTE */

.image-container {
    position: absolute;
    background-size: contain;
}

.resize-dot {
    position: absolute;
    width: 10px;
    height: 10px;
    height: 10px;
    border-radius: 5px;
    z-index: 2;
}

.resize-dot.tl {
    top: -1px;
    left: -1px;
    cursor: tl-resize;
}

.resize-dot.tr {
    top: -1px;
    right: -1px;
    cursor: tr-resize;
}

.resize-dot.bl {
    bottom: -1px;
    left: -1px;
    cursor: bl-resize;
}

.resize-dot.br {
    bottom: -1px;
    right: -1px;
    cursor: br-resize;
}

#aceptar {
    background-color: greenyellow;
    border: 3px solid green;
}

/* CURSOR */

.move {
    cursor: move;
}

.tlbr {
    cursor: nwse-resize;
}

.trbl {
    cursor: nesw-resize;
}

/* MAP */

.wrapper{
   width: 50%;
}

.map {
    height: 100%;
}

#map_frame {
    top: 0;
    left: 0;
    position: unset;
}

#map_frame iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 50% !important;
    height: 100% !important;
}

/* SCOREBOARD */

.result-container {
    text-align: right;
    position: absolute;
    z-index: 100;
    visibility: hidden;
    width: 95%;
    margin-top: 50px;
}

.box {
    background-color: white;
    display: inline-block;
    padding: 20px;
    width: 150px;
    margin: -2px;
    text-align: center;
}
.box h4 {
    font-weight: bold;
    padding-bottom: 5px;
}
    
.score-box {
    border: 3px solid black;
    padding: 3px;
    color: black;
}